{% extends "layout.html" %}
{% block content %}

<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    (function(){
        "use strict";

    var width = 720;
    var height = 300;

    var dataset = {{ graphvalues|tojson }};
    //console.log(dataset)

    var svg = d3.select("body").append("svg").attr("width", width).attr("height", height);
    var padding = 30;

    //時間型の型定義
    var timeparser = d3.timeParse("%Y-%m-%d");
    //配列を所定の型に変換する
    dataset = dataset.map(function(d){
        return  { Date: timeparser(d.Date), Close:d.Close } ;
    });

    //x軸のスケール調整
    var xScale = d3.scaleTime()
        .domain([d3.min(dataset, function(d){return d.Date;}), d3.max(dataset, function(d){return d.Date;})])
        .range([padding, width - padding]);

    //y軸のスケール調整
    var yScale = d3.scaleLinear()
        .domain([0, d3.max(dataset, function(d){return d.Close;})])
        .range([height - padding, padding]);

    //x軸メモリのフォーマット指定
    var axisx = d3.axisBottom(xScale)
        .ticks(10)
        .tickFormat(d3.timeFormat("%Y-%m"));
    //y軸メモリのフォーマット指定
    var axisy = d3.axisLeft(yScale);

    //折れ線グラフのlineを定義
    var line = d3.line()
        .x(function(d) { return xScale(d.Date); })
        .y(function(d) { return yScale(d.Close); });

    //xスケールの軸の移動
    svg.append("g")
        .attr("transform", "translate(" + 0 + "," + (height - padding) + ")")
        .call(axisx);

    //yスケールの軸の移動
    svg.append("g")
        .attr("transform", "translate(" + padding + "," + 0 + ")")
        .call(axisy);

    //svgのpath属性にlineをアペンド
    svg.append("path")
        .datum(dataset)
        .attr("fill", "none")
        .attr("stroke", "steelblue")
        .attr("stroke-linejoin", "round")
        .attr("stroke-linecap", "round")
        .attr("stroke-width", 1.5)
        .attr("d", line);
    })();
</script>

{% endblock %}